#knowledge_juanzi{
	margin:10px;
}
textarea{
	height:10em;
	width:25em;
	padding:5px;
	margin-top:5px;
}
input[type="text"]{
	width:25em;
}

#left{
	width:10%;
	float:left;
	height:92%;
	overflow:auto;
}

#right{
	width:90%;
	float:left;
	overflow: scroll;
}

span{
	float:left;
	width:80px; 
	text-align:right;
}

.buXianshi{
	display:none;
}

.xuanXiang_div{
	margin-left:80px;
	display:none;
}
.bu_xianshi{
	display:none;
}